div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.galleryText {
  margin: auto;
  font-size: large;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
color:blue;
}

.galleryTextError {
  margin: auto;
  font-size: larger;
  color: red;
}